<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gráficos Históricos - Dolar Actual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/unnamed.png') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/graficos.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="logo-icon">
          <img
            src="{{ url_for('static', filename='img/unnamed.png') }}"
            alt="Logo"
          />
        </div>
        <a href="{{ url_for('index') }}">
          <span class="logo-text"
            >Dolar Actual
            <small style="font-size: 0.6rem; color: var(--text-gray)"
              >VE</small
            ></span
          >
        </a>
      </div>
      <nav id="nav-menu">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('contacto') }}">Contacto</a>
        <a
          href="{{ url_for('graficos') }}"
          style="color: var(--text-white); font-weight: 700"
          >Gráficos</a
        >
      </nav>
    </header>

    <main style="display: block; padding-top: 150px">
      <div class="chart-header">
        <h2>Historial de 7 Días</h2>
        <p>Evolución de las tasas (Dólar, Euro y USDT) en la base de datos.</p>
      </div>

      <div class="chart-container">
        <canvas id="pricesChart"></canvas>
      </div>

      <div class="back-btn-container">
        <a href="{{ url_for('index') }}" class="back-btn">Volver al Inicio</a>
      </div>
    </main>

    <script>
      const historyData = {{ history | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/graficos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </body>
</html>
